
/* Header & Footer導航欄 hover */
.header-footer-hover:hover {
  color: $neutral-600;
}

/* Header & Footer 導航欄 Logo hover */
.header-footer-logo-hover:hover {
  opacity: 40%;
}

/* Header 導航欄 icon hover */
.header-icon-hover:hover {
  opacity: 60%;
}