/* page container */

a {
    text-decoration: none;
    display: block;
  }
  
  /* 鞋子圖片 hover */
  .hover-filter-shadow:hover {
    filter: saturate(300%) drop-shadow(5px 5px 8px $neutral-600);
  }
  
  /* 分頁器樣式 */
  .page-item .btn {
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
    width: 40px;
  }
  
  .page-item:nth-child(n + 3) .btn:hover {
    color: $primary-500;
    background-color: $primary-300;
  }
  
  .page-item .active {
    background-color: $primary-300;
  }
  
  /* Header icon 固定寬度 */
  .header-icon {
    display: inline-block;
    width: 24px;
    text-align: center;
  }
  
  /* Sidebar menu hover 文字顏色 */
  .sidebar-menu li:nth-child(n + 2) a:hover {
    color: $primary-400;
  }
  