<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!-- Bootstrap icon CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
  <%- include('./layout/header'); -%>

    <div>
      <div class="header ml-mr-12">
        <div class="header-content">
          <h1 class="display-1 display2-md text-white mb-16 mb-md-8">URBNSTEP</h1>
          <p class="h3 h5-md text-white mb-48 mb-md-32">Your Step, Your Statement</p>
          <button type="button" class="btn btn-primary text-primary-500-hover">立即搶購</button>
        </div>

      </div>
    </div>

    <main>
      <section class="pt-pb-64">
        <div class="container">
          <h2 class="display-2 h2-md text-center mb-12">New Arrival</h2>
          <h3 class="h2 h4-md text-center mb-32 mb-md-24">新品上市</h3>
          <div class="row pl-pr-12">
            <div class="col-6 mb-40 mb-md-24">
              <a href="#">
                <img class="mb-12 mb-md-8"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true"
                  alt="Monoverse">
                <h5 class="h5 h6-md">Monoverse</h5>
                <p class="text-md">NT$3,600</p>
              </a>
            </div>

            <div class="col-6 mb-40 mb-md-24">
              <a href="#">
                <img class="mb-12 mb-md-8"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true"
                  alt="PLATFORM 404">
                <h5 class="h5 h6-md">PLATFORM 404</h5>
                <p class="text-md h6-md">NT$2,600</p>
              </a>
            </div>

            <div class="col-6">
              <a href="#">
                <img class="mb-12 mb-md-8"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true"
                  alt="URBN Force">
                <h5 class="h5 h6-md">URBN Force</h5>
                <p class="text-md h6-md">NT$3,200</p>
              </a>
            </div>

            <div class="col-6">
              <a href="#">
                <img class="mb-12 mb-md-8"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true"
                  alt="PMode90">
                <h5 class="h5 h6-md">PMode90</h5>
                <p class="text-md h6-md">NT$4,000</p>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-pb-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">熱銷補貨</h3>
          <div class="row flex-md-nowrap overflow-x-md-auto product-md-row">
            <div class="col-3 product-md-col">
              <div class="product">
                <a href="#">
                  <span class="product-text">人氣 No.1</span>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                    alt="Melty Kiss">
                </a>
              </div>
            </div>

            <div class="col-3 product-md-col">
              <div class="product">
                <a href="#">
                  <span class="product-text">人氣 No.1</span>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                    alt="PLATFORM 404">
                </a>
              </div>
            </div>

            <div class="col-3 product-md-col">
              <div class="product">
                <a href="#">
                  <span class="product-text">人氣 No.1</span>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                    alt="R:UNER">
                </a>
              </div>
            </div>

            <div class="col-3 product-md-col">
              <div class="product">
                <a href="#">
                  <span class="product-text">人氣 No.1</span>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                    alt="BOOMBLOK">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-pb-48 py-md-24">
        <div class="bannerAera ml-mr-12">
          <h3 class="display-2 h2-md text-white d-md-flex flex-md-column gap-8 mb-16">
            <span>URBNSTEP</span>
            <span class="h1 h3-md text-primary-300 pl-pr-24">x</span>
            <span>Kevin Chen</span>
          </h3>
          <h3 class="h2 h4-md text-white mb-32 mb-md-24">跨界聯名，限量發售</h3>
          <p class="text-lg text-md-md text-neutral-500 d-md-flex flex-md-column gap-md-4 mb-48">
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-md-none">，</span>
            <span>街頭能量全面引爆！</span>
          </p>
          <button type="button" class="btn btn-primary text-primary-500-hover">立即搶購</button>
          <img src="../assets/images/Star.svg" alt="Star" class="StarImg">
          <img src="../assets/images/Sparkle.svg" alt="Sparkle" class="SparkleImg">
        </div>
      </section>

      <section class="pt-pb-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16">依系列選購</h3>
          <div class="row">
            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                    alt="URBN RUNNER 慢跑系列">
                  <div class="category-text">
                    <h4 class="h3 h5-lg h6-md mb-8">URBN RUNNER</h4>
                    <p class="h4 h5-lg h6-md">慢跑系列</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-3 col-md-2 mb-12">
              <div class="category">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true"
                    alt="STREETMODE 滑板系列">
                  <div class="category-text">
                    <h4 class="h3 h5-lg h6-md mb-8">STREETMODE</h4>
                    <p class="h4 h5-lg h6-md">滑板系列</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                    alt="CHUNK DISTRICT 厚底系列">
                  <div class="category-text">
                    <h4 class="h3 h5-lg h6-md mb-8 wrap-text">CHUNK DISTRICT</h4>
                    <p class="h4 h5-lg h6-md">厚底系列</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-3 col-md-2">
              <div class="category">
                <a href="#">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-10.png?raw=true"
                    alt="COLLAB ZONE 聯名企劃">
                  <div class="category-text">
                    <h4 class="h3 h5-lg h6-md mb-8">COLLAB ZONE</h4>
                    <p class="h4 h5-lg h6-md">聯名企劃</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-pb-64 mb-48 mb-md-24">
        <div class="container">
          <h3 class="h2 mb-16">穿搭靈感</h3>
          <div class="inspiration-row overflow-x-md-auto">
            <div class="inspiration-col-4">
              <div class="inspiration-row">
                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-1.png?raw=true"
                    alt="inspiration-1">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-2.png?raw=true"
                    alt="inspiration-2">
                </div>

                <div class="inspiration-col-12">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-3.png?raw=true"
                    alt="inspiration-3">
                </div>
              </div>
            </div>

            <div class="inspiration-col-4">
              <div class="inspiration-row">
                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-4.png?raw=true"
                    alt="inspiration-4">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-5.png?raw=true"
                    alt="inspiration-5">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-6.png?raw=true"
                    alt="inspiration-6">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-7.png?raw=true"
                    alt="inspiration-7">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-8.png?raw=true"
                    alt="inspiration-8">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-9.png?raw=true"
                    alt="inspiration-9">
                </div>
              </div>
            </div>

            <div class="inspiration-col-4">
              <div class="inspiration-row">
                <div class="inspiration-col-12">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-10.png?raw=true"
                    alt="inspiration-10">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-11.png?raw=true"
                    alt="inspiration-11">
                </div>

                <div class="inspiration-col-6">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-12.png?raw=true"
                    alt="inspiration-12">
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>